

.outer-slide-cate {
  margin-bottom: 30px;
  padding: 20px 40px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #eee;
  .CateSlide {
    .swiper-slide {
      width: auto!important;
      a {
        color: $black;
        text-decoration: none;
        
      }
    }
  }
  
}

.ImgSlide {
  margin-top: 30px;
  .swiper-slide {
    a {
      display: block;
      border-radius: 20px;
      background: $gray;
      overflow: hidden;
      text-decoration: none;
      .btn-view {
        height: 60px;
        line-height: 60px;
        color: $black;
        text-align: center;
        display: block;
       
      }
    }
  }
}