body { 
  @include lg(){
    padding-top: 0;
  }
}


.title {
  display: block;
  font-weight: 800;
  margin-bottom: 40px;
  font-size: 24px;
  @include lg(){
    display: block;
  } 
}


img {
  max-width: 100%;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  
  > span {
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
    img {
      object-fit: cover;
     
    }
  }
  &.thumb-16x9 {
    padding-bottom: 56.25%;
  }
  &.thumb-4x3 {
    padding-bottom: 75%;
  }
  &.thumb-3x2 {
    padding-bottom: 66.66%;
  }
  &.thumb-1x1 {
    padding-bottom: 100%;
  }
  &.thumb-5x2 {
    padding-bottom: 40%;
  }
}



.btn-xemthem {
  display: block;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}