@import "normalize";

$main : #FEB23C;
$darkmain : #FFA83B;
$lightmain : #FFEB99;
$black: #000000;
$blackgray: #939393;
$darkgray: #A5A5A5;
$gray: #EDEDED;
$green: #01B14F;
$red: #ED1C24;
$darkred: #AD2D24;
$darkblue: #31439A;
$blue: #2A529F;
$lightblue: #00AEEF;
$white: #fff;
$pink: #EA3457;

@mixin xl(){
  @media screen and (max-width: 1200px) {
    @content
  }
}

@mixin lg(){
  @media screen and (max-width: 991px) {
    @content
  }
}

@mixin max-lg(){
  @media screen and (max-width: 1080px) {
    @content
  }
}

@mixin min-lg(){
  @media screen and (min-width: 991px) {
    @content
  }
}

@mixin md(){
  @media screen and (max-width: 768px) {
    @content
  }
}
@mixin sm(){
  @media screen and (max-width: 540px) {
    @content
  }
}

.text{
  &-white{
    color: $white;
  }
  &-black{
    color: $black;
  }
}


.line-dashed{
  height: 1px ;
  width: 141px;
  border-bottom: 1px dashed $white;
}




//left
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

//right
@keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

//up
@keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

//down
@keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}